.b-btn {
  padding: 24px;
  min-width: 400px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: rgba(73, 79, 93);
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  border-radius: 6px;

}
