.c-ring {
  display: grid;
  grid-template-columns: 18% 60% 18%;
  align-items: center;
  grid-gap: 4%;

  &__player {

    &--attacking {
      animation: wobble-hor-bottom 0.3s both;
    }

    &--defending {
      animation: blink-1 0.3s both;

    }

    &--winner {
      filter: invert(0%) sepia(75%) saturate(768%) hue-rotate(11deg) brightness(114%) contrast(80%)
    }

    &--loser {
      opacity: 0.3 !important; // necessary to overwrite keyframes. Basicamente para no ponerlo arriba que me da toc xD
    }
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}


@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
